/* The sidenav */
.sidenav {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gray;
  overflow-x: hidden;
  padding-top: 50px;
}

/* Page content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgb(37, 37, 128);
  transition: 0.3s;
  text-align: center
}

/* Float columns side by side */
.column {
  float: right;
  width: 25%;
  padding: 60px;
}

/* Float 2nd columns side by side */
.column2 {
  float: right;
  width: 25%;
  padding: 0 180px;
}

/* Adjust image icon size */
img {
  height: 200px;
  width: 45%;
}

/* Buttons resize for Admin main */
button {
  font-size: 17px;  
}

/* Adjust position and size of search bar */
.search_nav button, input[type=text] {
  float: right;
  padding: 6px;
  font-size: 17px;
}

/* Adjust position and size of Add New ... buttons */
.add_nav button {
  float: left;
  padding: 6px;
  font-size: 17px;
}

/* Adjust table for user on user_manage */
table {
  width: 100%;
  text-align: center;
}

/* Adjust color of the table header */
th {
  background-color: rgb(37, 37, 128);
  color: white;
}

/* Change each even row to different shade color */
tr:nth-child(even){background-color: #f2f2f2;}